/*
4-1
진행 사항:
만든 홈페이지에 맞도록 챗봇의 디자인을 적용시켰다.
*/
.react-chatbot-kit-chat-container {
    position: fixed;
    right: 30px;
    bottom: 25px;
    width: 370px;
    height: auto;
    min-height: 520px;
    max-height: 680px;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: rgb(0 0 0 / 30%) 0px 12px 60px 5px;
  }
  .react-chatbot-kit-chat-bot-message{
    text-wrap: wrap;
    margin: 0;
  }