/*
11-26
진행 사항:
불필요한 코드를 삭제하고 마우스를 올리면 효과가 나오도록 만들었다
12-03
진행 사항:
반응형으로 만드는데 앞서 헤더의 요소간 좌우 마진 및 패딩이 너무 많은 관계로 줄이는 과정을 진행했다.
불필요한 코드를 삭제하고 헤더에 width와 margin을 주어 가독성을 높힘
*/
.header
{
  display:block;
  width: 80%;
  height: 100px;
  margin: auto;
}
.top
{
  display:flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  width: 80%;
  border-bottom:2px solid gray;
  background-color: white;
}
.top-left
{
  display:flex;
}
.top-title
{
  margin:1vh;
  border:none;
}
.menu-list
{
  display:flex;
  margin: 10px 0px 10px 0px;
}
.header-categories
{
  display:flex;
  align-items: center;
  margin-right: 40px;;
}
.header-categorie
{
  font-size:15px;
  padding: 8px;
  border-radius: 10%;
}
.header-categorie:hover
{
  box-shadow: 4.0px 4.0px 4.0px 4.0px hsl(0deg 0% 0% / 0.1);
}
.top-center
{
  display:flex;
  align-items: center;
  border:2px solid powderblue;
  height:25px;
  padding:10px;
  border-radius: 10px;
}
.icon
{
  margin-left: 5px;
  margin-right: 15px;
}
.icon-btn
{
  cursor: pointer;
  border: none;
  background-color: white;
  margin: 0;
  padding: 0;
  width: 35px;
  height: 35px;
}
input
{
  outline:none;
  border:none;
  font-size:1rem;
}
.search-space
{
  font-size:17px;
}
.top-right
{
  font-size:15px;
  margin:0px 15px 0px 15px;
  padding: 8px;
  border-radius: 10%;
}
.top-right:hover
{
  box-shadow: 4.0px 4.0px 4.0px 4.0px hsl(0deg 0% 0% / 0.1);
}