.header-help, .help-top, .help-notice, .help-qna
{
    font-size: x-large;
    margin:auto;
    width: 367px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
    opacity: 0; /* 처음에는 투명하게 설정 */
    animation: fadeInAnimation 1s ease-in forwards;
}
.header-help-area
{
    border-bottom: 2px solid slategray;
}
.header-help-text
{
    margin:20px;
}