/*
12-06
진행 사항:
로그인/가입 페이지에 대한 css를 적용시킴

2-29
진행 사항:
라벨 태그를 클래스로 수정했다.
*/
.login-sign-content
{
    margin:auto;
    width: 367px;
    padding-top: 30px;
    text-align: center;
}
.header-login
{
    font-size: x-large;
    padding-bottom: 30px;
    opacity: 0; /* 처음에는 투명하게 설정 */
    animation: fadeInAnimation 1s ease-in forwards;
}
.header-login-area
{
    border-bottom: 2px solid slategray;
}
.header-login-text
{
    margin:20px;
}
.login-screen
{
    margin-top: 30px;
}
.login-box
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.login-box-label
{
    display:flex;
    margin: 20px 0px 20px 0px;
}
#login-box-label1{
    opacity: 0;
    transform: translateY(100%);
    animation: slideUpAnimation 0.5s ease-in-out forwards 0.5s;
}
.input-id, .input-pw, .input-email, .input-phoneNumber, .input-adress
{
    border-bottom: 2px solid slategray;
    height: 40px;
    opacity: 0;
    transform: translateY(100%);
    animation: slideUpAnimation 0.5s ease-in-out forwards 0.7s;
}
#login-box-label2{
    opacity: 0;
    transform: translateY(100%);
    animation: slideUpAnimation 0.5s ease-in-out forwards 0.9s;
}
.input-pw
{
    opacity: 0;
    transform: translateY(100%);
    animation: slideUpAnimation 0.5s ease-in-out forwards 1.1s;
}
.login-btn, .sign-in-btn
{
    margin: 40px 0px 20px 0px;
    height: 50px;
    background-color: powderblue ;
    border-color: slategray ;
    opacity: 0;
    transform: translateY(100%);
    animation: slideUpAnimation 0.5s ease-in-out forwards 1.3s;
}
.sign-box{
    opacity: 0;
    transform: translateY(100%);
    animation: slideUpAnimation 0.5s ease-in-out forwards 1.5s;
}
.sign-btn
{
    margin-left: 60px;
    color: tomato;
}
.login-top{
    font-size: large;
    opacity: 0; /* 처음에는 투명하게 설정 */
    animation: fadeInAnimation 1s ease-in forwards;
}