/*
11-26
진행 사항:
불필요한 코드를 제거
hover되면 효과가 나오는 코드를 작성
12-03
진행 사항:
미디어 쿼리를 적용하여 반응형 웹페이지를 구성하였다
컨설팅 버튼과 설명을 같은 div태그에 묶는바람에 클래스명이 바뀌었다
불필요한 코드를 제거했다
12-06
진행 사항:
banner에 이미지를 삽입했음
이미지는 미리캔버스에서 만들었는데 텍스트도 이미지라 나중에는 이미지에 텍스트를 빼고
HTML로 삽입하여 텍스트를 삽입하도록 수정 예정
그러기 위해서 이미지 삽입을 했을 시 이미지를 뒤로 보내는 작업이 필요 z-index?
12-11
진행 사항:
border-radius를 30px로 바꾸니 아주 이쁘게 동그라미 모양을 만들었다.
*/
@keyframes slideUpAnimation {
  0% {
      opacity: 0;
      transform: translateY(100%);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
@keyframes fadeInAnimation {
  from {
      opacity: 0; /* 시작 시 완전 투명 */
  }
  to {
      opacity: 1; /* 끝날 때 완전 불투명 */
  }
}
.escape-line
{
  height: 60px;
}
.section
{
  display:block;
  width:80%;
  max-width: 1300px;
  margin: auto;
}
.main-content
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;
  opacity: 0; /* 처음에는 투명하게 설정 */
  animation: fadeInAnimation 0.7s ease-in forwards;
  z-index: -1;
}
@media(max-width:1400px)
{
  .main-content
  {
    flex-direction: column;
    width:100%;
    margin:auto;
    opacity: 0; /* 처음에는 투명하게 설정 */
    animation: fadeInAnimation 0.7s ease-in forwards;
    z-index: -1;
  }
}
.banner
{
  background-color: lightblue;
  border-radius: 30px;
  height: 400px;
  cursor: pointer;
  width: 800px;
  opacity: 0;
  transform: translateY(100%);
  animation: slideUpAnimation 0.7s ease-in-out forwards 0.1s;
}
#consulting-wrap1{
  opacity: 0;
  transform: translateY(100%);
  animation: slideUpAnimation 0.7s ease-in-out forwards 0.4s;
}
#consulting-wrap2{
  opacity: 0;
  transform: translateY(100%);
  animation: slideUpAnimation 0.7s ease-in-out forwards 0.8s;
}
#consulting-wrap3{
  opacity: 0;
  transform: translateY(100%);
  animation: slideUpAnimation 0.7s ease-in-out forwards 1.2s;
}
#consulting-wrap4{
  opacity: 0;
  transform: translateY(100%);
  animation: slideUpAnimation 0.7s ease-in-out forwards 1.6s;
}
.escape
{
  height: 150px;
}
.banner-comment
{
  display: flex;
  flex-direction: column;
}
.banner-in-comment
{
  font-size: large;
}
.consulting
{
  display: flex;
}
.consulting-box
{
  display:flex;
}
.consulting-list
{
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media(max-width:1400px)
{
  .consulting-list
  {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px 50px;
  }
}
.consulting-btn-icons
{
  box-shadow: 4.0px 4.0px 4.0px hsl(0deg 0% 0% / 0.1);
  background-color: white;
  border-radius: 30px;
  padding: 3px;
  margin: 10px;
  font-size: 20px;
  min-width: 120px;
}
.consulting-btn-icons:hover
{
  box-shadow: 4.0px 4.0px 4.0px hsl(0deg 0% 0% / 0.2);
}
.consulting-wrap
{
  display: flex;
  min-width: 350px;
}
.consulting-text
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cbtn
{
  display: flex;
  align-items: center;
}
.consulting-icons
{
  width: 32px;
  height: 32px;
}
.consulting-btn-icons-text
{
  margin-left: 10px;
}