/*
11-26
진행 사항:
불필요한 코드를 제거
hover되면 효과가 나오는 코드를 작성
12-03
진행 사항:
미디어 쿼리를 적용하여 반응형 웹페이지를 구성하였다
컨설팅 버튼과 설명을 같은 div태그에 묶는바람에 클래스명이 바뀌었다
불필요한 코드를 제거했다
*/
.escape-line
{
  height: 60px;
}
.section
{
  display:block;
  width:80%;
  max-width: 1300px;
  margin: auto;
}
.main-content
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;
}
@media(max-width:1400px)
{
  .main-content
  {
    flex-direction: column;
    width:100%;
    margin:auto;
  }
}
.banner
{
  background-color: powderblue;
  height: 300px;
  cursor: pointer;
  border: 1px solid red;
}
.escape
{
  height: 150px;
}
.banner-comment
{
  display: flex;
  flex-direction: column;
}
.banner-in-comment
{
  font-size: large;
}
.consulting
{
  display: flex;
}
.consulting-box
{
  display:flex;
}
.consulting-list
{
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media(max-width:1400px)
{
  .consulting-list
  {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px 50px;
  }
}
.consulting-btn-icons
{
  box-shadow: 4.0px 4.0px 4.0px hsl(0deg 0% 0% / 0.1);
  background-color: white;
  border-radius: 10%;
  padding: 3px;
  margin: 10px;
  font-size: 20px;
  min-width: 120px;
}
.consulting-btn-icons:hover
{
  box-shadow: 4.0px 4.0px 4.0px hsl(0deg 0% 0% / 0.2);
}
.consulting-wrap
{
  display: flex;
  min-width: 350px;
}
.consulting-text
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cbtn
{
  display: flex;
  align-items: center;
}
.consulting-icons
{
  width: 32px;
  height: 32px;
}
.consulting-btn-icons-text
{
  margin-left: 10px;
}