.chat-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  height: 600px;
  overflow-y: auto;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.message {
  margin: 10px;
  padding: 10px 15px;
  border-radius: 20px;
  color: #333;
  background-color: white;
  border: 1px solid #e2e2e2;
  word-wrap: break-word;
}

.left {
  align-self: flex-start;
  background-color: #f0f8ff;
}

.right {
  align-self: flex-end;
  background-color: #e0f7fa;
}

.input-container {
  display: flex;
  padding: 0;
  margin: 20px auto; /* 좌우 마진을 auto로 설정하여 중앙 정렬 */
  align-items: center;
  width: calc(100% - 40px);
  max-width: calc(1000px - 40px);
  background-color: #fff;
  border-radius: 22px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
}

input[type="text"] {
  flex-grow: 1;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 22px 0 0 22px;
  outline: none;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 0 22px 22px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button .arrow.right {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}